[submodule "modules/charclass"]
	path = modules/charclass
	url = http://suika.fam.cx/gate/git/bare/charclass.git
[submodule "modules/manakai"]
	path = modules/manakai
	url = http://suika.fam.cx/gate/git/bare/manakai.git
