[submodule "modules/charclass"]
	path = modules/charclass
#	url = http://suika.fam.cx/gate/git/bare/charclass.git
        url = git://github.com/wakaba/perl-charclass.git
[submodule "modules/manakai"]
	path = modules/manakai
#	url = http://suika.fam.cx/gate/git/bare/manakai.git
        url = git://github.com/wakaba/manakai.git
